/*--------------------------------*/
/*BASIC SETUP*/
/*--------------------------------*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    
    
}

html {
    scroll-behavior: smooth;
}
html,
body {
    
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}

 .container {
    display:grid;
    grid-template-rows: auto auto auto auto auto auto;
} 

/*-------------------------------*/
/*HEADER*/
/*--------------------------------*/
header {
    background-image: url(../img/header.jpg);
    height:100vh;
    background-attachment: fixed;
    background-position: center;
}

.menu-toggle {
    display:none;
}

.navbar {
    background:transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1111;
    
       
    

    
    
}

.fade {
    background: white;
    -webkit-transition:0.3s;
    transition:0.3s;
}
    
nav {
    width:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bold;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display:flex;
    -webkit-flexbox-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-flexboxbox-align: center;
            align-items: center;*/
    
    /* padding:30px 0;
   
     position:fixed;  */

     display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding:30px 0;
    position:fixed;
    
    
    
}







nav p {
    font-weight: bold;
    letter-spacing: px;
    font-size: 1.6rem;
}

 nav ul {
     display:-webkit-box;
    display:flex;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; 
} 

nav ul a {
    
    text-decoration: none;
    color:white;
    margin: 40px;
    
    
}

.nav-link {
    
    
    text-decoration: none;
}

.nav-link::after {
    
    content: '';
    display:block;
    width:0;
    height:2px;
    background:rgb(8, 4, 255);
    margin-top: 4px;
    margin-left: 40px;

}
.nav-link:hover::after {
    width:50%;
    -webkit-transition: width .3s;
    transition: width .3s;
}





nav ul li {
    list-style-type: none;
    font-weight: 500;
}

.titles {
    display:-webkit-box;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    padding:25rem 0 0 0;
    line-height: 5rem;
}

.main-title {
    font-size: 4rem;
    
    font-weight: bold;
    letter-spacing: 5px;
}

.subtitles {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
}


/*--------------------------------*/
/*About me*/
/*--------------------------------*/


.aboutme {
    padding:5rem 0;
    color:black;
    background-color: #F5F5F5;
}


.postcard {
    width:1097px;
    margin:0 auto;
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:justify;
            justify-content:space-between;
    padding:4rem 1rem; 
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    
    
}


.leftcol {
    width:50%;
}

.rightcol {
    width:50%;
}
.photo {
    width:100%;
    display:-webkit-box;
    display:flex;
    
    -webkit-box-align: center;
    
            align-items: center;
}

.picture {
    padding:2rem;
}

.details {
    color:rgb(102, 102, 102);
    line-height: 2.5rem;
}

.details a {
    color:rgb(102, 102, 102);
}

.details span {
    font-weight: bold;
    

}

.rightcol p {
    color:rgb(102, 102, 102);
    line-height: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: 300;
    padding-right: 3rem;
    
}
.rightcol p:last-child {
    
    margin-bottom:0;
    
    
}

.rightcol h2,
.leftcol h2 {
    margin-bottom: 5px;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 1px;
}

hr {
    border:2px solid blue;
    width:22%;
    margin-bottom: 3rem;
}


.skill {
    padding-left:2rem;
    padding-right: 3rem;
}

.skill p {
    font-weight: 500;
    font-size: 1.2vw;
    margin-bottom: 1.5rem;
}

.pull-right {
    float:right;
}

.progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
    margin-bottom: 1.5rem;
}

.progress-bar {
    width:80%;
    
    height: .7rem;
    background-color: #0078ff;
    
}

.progress-bar2 {
    width:85%;
    
    height: .7rem;
    background-color: #0078ff;
    
}

.progress-bar3 {
    width:75%;
    
    height: .7rem;
    background-color: #0078ff;
    
}

.progress-bar4 {
    width:70%;
    
    height: .7rem;
    background-color: #0078ff;
    
}

.progress-bar5 {
    width:70%;
    
    height: .7rem;
    background-color: #0078ff;
    
}

/*--------------------------------*/
/*SERVICES*/
/*--------------------------------*/

.services,
.portfolio {
    color:black;
    background-color: #F5F5F5;
    padding-bottom: 4rem;
}
 h1 {
     text-align: center;
     font-size: 3.5rem;
     text-transform: uppercase;
     letter-spacing: 2px;
     padding-bottom: 1rem;
 }

 .services p,
 .portfolio p {
     text-align: center;
     letter-spacing: 1px;
     font-weight: 300;
 }

 .services hr,
 .portfolio hr{
     width:3%;
     margin:1rem auto;
     
 }

 .row1
  {
    width:60%;
    margin:0 auto;
    display:-webkit-box;
    display:flex;
    justify-content:space-around;
    padding:4rem 1rem 0 1rem; 
    
}
.row2 {
    width:60%;
    margin:0 auto;
    display:-webkit-box;
    display:flex;
    justify-content:space-around;
    padding:2rem 1rem 0 1rem; 
}

.row3 {
    width:80%;
    margin:0 auto;
    display:-webkit-box;
    display:flex;
    justify-content:space-around;
    padding:2rem 1rem 0 1rem; 
}

.row3 .card {
    width:600px;
}

.row3 .card img:hover {
    cursor: initial;
}

.card {
    width:31%;
    text-align: center;
    background-color: white;
    padding: 2.5rem 1rem;
    border-radius: 1rem;
    
}





.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 4rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-bottom: 1.5rem; 
}

.ico-circle img {
    width:60px;
    height:auto;
}




.ico-circle:hover {
    cursor: initial;
    box-shadow: 0 0 0 10px #cde1f8;
    background:#0078ff;
    color:white;

}

h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;
}

.card p {
    width:100%;
    line-height: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*--------------------------------*/
/*TOOLS*/
/*--------------------------------*/
.tools {
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(2, 91, 255, 0.555)), to(rgba(14, 90, 255, 0.767))), url(../img/development.jpg) no-repeat center;
    background:linear-gradient(to bottom, rgba(2, 91, 255, 0.555), rgba(14, 90, 255, 0.767)), url(../img/development.jpg) no-repeat center;
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:500px;
    display:-webkit-box;
    display:flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    
}
.parallax {
    width:100%;
    display:-webkit-box;
    display:flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
}
.parallax .ico-circle {
    
        height: 77px;
        width: 77px;
        line-height: 1.2;
        box-shadow: 0 0 0 10px #cde1f8;
    
}

.parallax .ico-circle p {
    font-size: 1rem;
    
}

.parallax img {
    width:100px;
}

/*--------------------------------*/
/*PORTFOLIO*/
/*--------------------------------*/

.portfolio {
    padding-top: 4rem;
}

.portfolio .card {
    border-radius: 0;
    padding:0 0 1rem 0;
    overflow:hidden;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    
}


.portfolio .card img {
    width:100%;
    height:auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.portfolio .card video {
    width:100%;
}

.portfolio .card a {
    text-decoration: none;
    color:inherit;
}

.portfolio .row1 .card {
    margin-bottom: 4rem;
}
.portfolio .row2 .card {
    margin-bottom: 4rem;
}

.portfolio .card:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
}



.description {
    padding:1rem;
    text-align: left;
}

.description h3 {
    font-size: 1.3rem;
    letter-spacing: 0px;
    text-transform: initial;
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.description span {
    color:rgba(0, 0, 255, 0.63);
}

.description p {
    text-align: left;
    letter-spacing: 0px;
    font-size: 0.8rem;
}

.plus-icon {
    font-size: 3rem;
    color:rgba(0, 0, 255, 0.678);
    
}

.card .plus-icon img {
    width:50px;
    height:auto;
    
    
}



.card span a {
    font-size: 3rem;
    color:rgba(0, 0, 255, 0.678);
}
.plus-icon:not(:last-child):hover {
    cursor: pointer;
}

/*--------------------------------*/
/*CONTACT*/
/*--------------------------------*/

.contact {
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(42, 117, 255, 0.555)), to(rgba(14, 90, 255, 0.842))), url(../img/contactlow.jpg) no-repeat center;
    background:linear-gradient(to bottom, rgba(42, 117, 255, 0.555), rgba(14, 90, 255, 0.842)), url(../img/contactlow.jpg) no-repeat center;
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:800px;
    display:-webkit-box;
    display:flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    color:black;
    
}

.contact .rightcol h2 {
    color:black;
}



.contact-icon {
    display:-webkit-box;
    display:flex;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 10px;
}


.contact-icon span {
    color: #0078ff;
    margin-right: 10px;
    font-size: 1.2rem;
}

.circles {
    display:-webkit-box;
    display:flex;
    -webkit-box-align: center;
            align-items: center;
    
    margin-top: 25px;
}

.contact-icon p {
    font-size: 1rem;
}

.rightcol .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 24px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.circles .ico-circle a {
    color: inherit;
}

.circles .ico-circle:hover {
    cursor: pointer;
}

.circles img {
    width:25px;
    height:auto;
}

.rightcol .ico-circle span {
    color:black;
}

.leftcol h2
 {
    padding-left: 15px;
}

.leftcol hr {
    margin-left: 15px;
}

form {
    padding:0 35px 0 15px;
}

form button:hover {
    cursor: pointer;
}

.email-form input {
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 20px;
    
}
.email-form textarea {
    padding: 12px 15px;
    margin-bottom: 0;
    font-size: 14px;
}

textarea.form-control {
    height: auto;
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.send {
    text-align: center;
}
button {
    background: #0078ff;
    color:white;
    padding:15px 20px;
    font-size: 16px;
    
    border-radius:5rem;
    border:none;
    outline:none;
    margin:0 auto;
}

/*--------------------------------*/
/*FOOTER*/
/*--------------------------------*/

.footer {
    color:white;
    background:#1E72DB;
    text-align: center;
    padding:2rem 0;
    line-height: 2rem;
}


.back-to-top {
    position: fixed;
    display: none;
    background: #0078ff;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top:hover {
    color:white;
    background:rgb(53, 53, 53);
}

.fa-chevron-up {
    font-size: 30px;
    margin-top: 5px;
}


